<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tabela</title>
    <style>
        table {
            text-align: center;
        }
        .table-border {
            border: 1px solid;
            border-collapse: collapse;
        }
        td {
            font-size: 3rem;
            padding: 3px;
        }
    </style>
</head>
<body>
    <div>
        {% set table_class = 'table-border' if with_border else '' %}
        <table class="{{ table_class }}">
            {% for i in range(1, dimension + 1) %}
                <tr>
                    {% for j in range(1, dimension + 1) %}
                        {% set result = i * j %}
                        {% set bg_color = even_color if result % 2 == 0 else odd_color %}
                        <td style="background-color: {{ bg_color }};" class="{{ table_class }}">{{ result }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </table>
    </div>
</body>
</html>